<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"/>
  <title>Conversor de Moedas</title>
</head>
<body>
  <main>
    <form action="" name="CurrencyConverter" method="get">
      <div id="input">
        <strong>Insira o valor a converter</strong>
        <input type="number" class="input" name="value_to_convert">
      </div>

      <div id="origin">
        <strong>Escolha a moeda de origem</strong>
        <select name="select">
          <% @currencies.each_with_index do |currency, index| %>
            <option value=currency_initial1><%= currency.country %> <strong><%= currency.name%></strong> (<%= currency.initials %>)</option>
          <% end %>
        </select>
      </div>
  
      <div id="destiny">
        <strong>Escolha a moeda de destino</strong>
        <select name="select">
          <% @currencies.each_with_index do |currency, index| %>
            <option value=currency_initial2><%= currency.country %> <strong><%= currency.name%></strong> (<%= currency.initials %>)</option>
          <% end %>
        </select>
      </div>

      <br><br>
      <button type="submit" value="convert">Converter</button>
      <br>

      <output type="number" class="output" name="value_from_convert" value="value_from_convert" disabled>
      
    </form>
  </main>
</body>
</html>