<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css"/>
  <title>Conversor de Moedas</title>
</head>
<body>
  <div class="container" >
    <main>
      <div>

        <form action="" name="CurrencyConverter" method="get">
          <span>
            <label><strong>Insira o valor a converter: </strong>
            <div>
              <input inputmode="numeric" placeholder="0,00" id="input_value" class="input" name="value_to_convert">
            </div>
          </label></span>

          <span>
            <label><strong>Escolha a moeda de origem</strong></label>
            <div>
              <select name="select">
                <% @currencies.each_with_index do |currency, index| %>
                  <option value=currency_initial1><%= currency.country %> <strong><%= currency.name%></strong> (<%= currency.initials %>)</option>
                <% end %>
              </select>
            </div>
          </span>
      
          <span>
            <label><strong>Escolha a moeda de destino</strong></label>
            <div>
              <select name="select">
                <% @currencies.each_with_index do |currency, index| %>
                  <option value=currency_initial2><%= currency.country %> <strong><%= currency.name%></strong> (<%= currency.initials %>)</option>
                <% end %>
              </select>
            </div>
          </span>

          <div>
            <button type="submit" value="convert">Converter</button>
          </div>

        </form>
        
      </div>
      <div>
        <output type="number" class="output" name="value_from_convert" value="value_from_convert" disabled>
      </div>
    </main>
  </div>
</body>
</html>