<!DOCTYPE html>
<html>
  <head>
    <title>Currency Converter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1> Currencies</h1>
    </header>
    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>
        Copyright &copy; <%= Time.now.year %>
        <a href='https://github.com/mnquintino' target='_blank'>Manara GitHub</a>
      </p>
    </footer>
  </body>
</html>
